{% if (( ansible_date_time.day | int % 2 == 0 ) and ( ansible_date_time.hour | int < 12 ))%}
Aujourd'hui est un jour pair ({{ ansible_date_time.day }}) et il est plus tôt que midi, il est ({{ ansible_date_time.hour }}) .
{% endif %}

{% if (( ansible_date_time.day | int % 2 == 1 ) and ( ansible_date_time.hour | int < 12 ))%}
Aujourd'hui est un jour impair ({{ ansible_date_time.day }}) et il est plus tôt que midi, il est ({{ ansible_date_time.hour }}) .
{% endif %}

{% if (( ansible_date_time.day | int % 2 == 0 ) and ( ansible_date_time.hour | int > 12 ))%}
Aujourd'hui est un jour pair ({{ ansible_date_time.day }}) et il est plus tard que midi, il est ({{ ansible_date_time.hour }}) .
{% endif %}

{% if (( ansible_date_time.day | int % 2 == 1 ) and ( ansible_date_time.hour | int > 12 ))%}
Aujourd'hui est un jour impair ({{ ansible_date_time.day }}) et il est plus tard que midi, il est ({{ ansible_date_time.hour }}) .
{% endif %}
